@import url('https://fonts.googleapis.com/css2? família= Lagosta &family= Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 & display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sem serifa;
    
} 
/*
.nav{
    justify-content: center;
    background-color: rgb(248, 247, 247);
    
}

.navbar{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
*/
.logo{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
    
}
.logo h1{
    font-family: 'Anton', sans-serif;
    color: rgb(32, 12, 148);
    font-size: 25px;
    margin-bottom: 10px;
}


section{
    display: inline-block;
    margin-top: 20px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    text-align: center;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgb(42, 8, 233);
}

/*
.nav-item{
    padding: 1%;
   
}
a.nav-link{
    font-size: 8pt;
    padding: 4px 6px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;


}
*/
.card{
    display: inline-block;
    width: 40%;
    padding: 0%;
    margin-right: 1%;
    margin-bottom: 2%;
    border: 1px solid rgb(0, 27, 182);
    border-radius: 10px;
    cursor: pointer;
}
.card-text{
    font-size: 12pt;
}
.card-price {
	display: inline-block;
  
  width: auto;
	height: 28px;
	
	background-color: #6ab070;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #6ab070;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: white;
	font-weight: 100;
	font-size: 16px;
	line-height: 28px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #6ab070;
}

/* Makes the circle */
.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
footer{
    margin-top: 200px;
    height: 200px;
    background-image: linear-gradient(180deg,  rgb(42, 8, 233),  rgb(11, 0, 75),  rgb(8, 1, 48));
    text-align: center;
    border-top: 5px solid rgb(0, 174, 243);
}




